{% extends "base_generic.html" %}
{% load static %}

{% block details %}
    <link rel="stylesheet" href="{% static 'My-Statistic.css' %}" media="screen">
{% endblock %}

{% block content %}
  <section class="u-align-center u-clearfix u-grey-10 u-section-2">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-text u-text-1">Login</h1>
      <div class="u-form u-form-1">
        <form method="post" action="{% url 'login' %}" class="u-clearfix u-form-spacing-20 u-inner-form" style="padding: 10px">
          {% csrf_token %}
          <div class="u-form-group u-form-name" style="margin-bottom: 25px;">
            <input type="text" placeholder="Enter username" name="username" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" value="{{ username }}">
          </div>
          <div class="u-form-email u-form-group">
            <input type="password" placeholder="Enter password" name="password" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" value="{{ password }}">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <input type="submit" value="login" class="u-black u-btn u-btn-round u-btn-submit u-button-style u-radius-5 u-btn-1">
            <input type="hidden" name="next" value="{{ next }}">
          </div>
          {% if form.errors %}
            <div class="div-error-message" id="hideMe"> Your username and password didn't match. Please try again. </div>
          {% endif %}
          {% if next %}
            {% if user.is_authenticated %}
              <div class="div-error-message" id="hideMe"> Your account doesn't have access to this page. <br>To proceed, please login with an account that has access. </div>
            {% else %}
              <div class="div-error-message" id="hideMe"> Please login to see this page. </div>
            {% endif %}
          {% endif %}
          <div class="u-text" style="margin-bottom: 25px;">Don't have an account? <a href="/accounts/register/" class="u-button-style u-text-active-palette-1-base u-text-hover-palette-2-base" style="font-weight: bold;">Signup</a></div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}