{% extends "base_generic.html" %}
{% load static %}
{% load tags %}

{% block details %}
    <link rel="stylesheet" href="{% static 'Books.css' %}" media="screen">
{% endblock %}

{% block content %}
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" src="" id="sec-889b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <h1 class="u-text u-title u-text-1">Drinks</h1>
          <p class="u-large-text u-text u-text-variant u-text-2">
            People who wonder if the glass is half empty<br>or full miss the point. The glass is refillable.
          </p>
          <a href="#checklist" class="u-black u-btn u-btn-round u-button-style u-radius-5 u-btn-1">START</a>
      </div>
  </section>
  <div id="checklist"></div>

  <section class="u-align-left u-clearfix u-section-2" id="carousel_4e2f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h5 class="u-text u-text-1">mark WHAT YOU'VE already TASTED</h5>
      {% if drink_list %}
          <div class="u-expanded-width u-list u-repeater u-list-1">
              {% for drink in drink_list %}
                  <div class="u-align-left u-container-style u-list-item u-repeater-item">
                      {% is_marked drink user as is_drink_drunk_by_user %}
                      <div class="u-container-layout u-similar-container u-container-layout-1 drink-click chcklist-el" data-drunk={{ is_drink_drunk_by_user }} data-drink={{ drink.id }} style="cursor:pointer;">
                          <span class="u-icon u-text-black u-icon-1 drink-drunk" {% if not is_drink_drunk_by_user %} style="display:none" {% endif %}>
                              <img src="{% static 'images/checkbox.svg' %}" class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style="">
                          </span>
                          <span class="u-icon u-icon-1 drink-undrunk" {% if is_drink_drunk_by_user %} style="display:none" {% endif %}>
                              <img src="{% static 'images/empty-checkbox.svg' %}" class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style="">
                          </span>
                          <h5 class="u-text u-text-4">{{ drink.name }} <img src="{% static 'images/oversized-wine-glass (2).svg' %}" {% if not drink.alcohol %} style="width: 15px; display:none;" {% else %} style="width: 15px;" {% endif %}><br><img src="{% static 'images/map-placeholder.svg' %}" style="width: 15px; opacity: 0.5;"> <span style="color: #6b6b6b; font-weight: normal;">{{ drink.country.name }}</span>
                      </div>
                  </div>
              
              {% endfor %}
          </div>
      {% else %}
          <p>There are no drinks in the list.</p>
      {% endif %} 
  </section>
  
  {% is_all_drunk user as is_all_drunk_by_user %}
  <section class="u-align-center u-clearfix u-section-4 random-drink-section" id="sec-5043" data-all-drunk={{ is_all_drunk_by_user }}>
    <div class="u-align-center u-clearfix u-sheet u-sheet-1 all-is-not-drunk" {% if is_all_drunk_by_user %} style="display: none;" {% endif %}>
      <h2 class="u-align-center u-text u-text-1 title-discover"><span class="random-title">Discover your next great drink!</span></h2>
      <p class="u-large-text u-text u-text-variant u-text-2">
        <span class="random-drink" style="font-size: 1.5rem;">The secret of getting ahead is getting started</span>
      </p>
      <div class="u-black u-border-0 u-btn u-btn-round u-button-style u-radius-5 u-btn-1 random-drink-click" ><span class="random-button">Sure!</span></div>
    </div>
    <div class="u-align-center u-clearfix u-sheet u-sheet-1 all-is-drunk" {% if not is_all_drunk_by_user %} style="display: none;" {% endif %}>
      <h2 class="u-align-center u-text u-text-1 title-discover"><span class="random-title">Nice Done! You have marked everything!</span></h2>
    </div>
  </section>

  <script>
    $(".drink-click").click(function(){
        let is_drunk = $(this).data("drunk") === "True";
        let is_drunk_marker = $(this).find(".drink-drunk");
        let is_undrunk_marker = $(this).find(".drink-undrunk");
        let drink_id = $(this).data("drink");
        $.ajax({
          type: 'POST',
          url: '../drink_checkbox/',
          data: {
            'drink_id': drink_id,
            'is_drunk': !is_drunk,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          dataType: 'json',
          success: function (response) {
            let is_all_drunk = response["is-all-drunk"];
            if (is_all_drunk) {
              $(".random-drink-section").data("all-drunk", "True");
              $(".all-is-drunk").show();
              $(".all-is-not-drunk").hide();
            }
            else {
              $(".random-drink-section").data("all-drunk", "False");
              $(".all-is-drunk").hide();
              $(".all-is-not-drunk").show();
            };
          },
        });
        if (is_drunk) {
          $(this).data("drunk", "False");
          is_drunk_marker.hide();
          is_undrunk_marker.show();
        }
        else {
          $(this).data("drunk", "True");
          is_drunk_marker.show();
          is_undrunk_marker.hide();
        };
    });
    $(".random-drink-click").click(function(){
      $(".random-title").text("Your next drink recommendation is");
      $(this).find(".random-button").text("Next!");
      $.ajax({
        type: 'GET',
        async: true,
        url: '../random_drink/',
        data: "drink=drink-info;",
        success: function(data) {
            $(".random-drink").text(data['random-drink-info']);
        },
        dataType: 'json',
      });
    });
  </script>
{% endblock %}
